---
layout: default
---
<div style="width:75%; float:left;">
{% for post in paginator.posts %}
<div class="article">
    <div class="well">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
        
        <div class="content">
            {{ post.excerpt }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Devamını Oku</a>
    </div>
</div>
{% endfor %}
<br/>
<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Daha Yeni</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Daha Yeni</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">Sayfa: {{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Daha Önceki</a>
  {% endif %}
</div>
</div>
<div style="float: left; width:24%; margin-left:1%;">
    <h3>İlginizi Çekebilir</h3>
    <ul>
          <li><a href="https://indirapk.club/ispor-apk-ios/">iSpor APK İndir</a></li>
        <li><a href="https://indirapk.club/catlak-kelimeler-apk-indir/">Çatlak Kelimeler APK İndir</a></li>
        <li><a href="https://indirapk.club/ispor-24x7-apk-indir/">iSpor 24x7 APK İndir</a></li>
        <li><a href="https://indirapk.club/fast-drift-racing-apk-indir/">Fast Drift Racing APK İndir</a></li>
        <li><a href="https://indirapk.club/like-craft-hd-adventures-apk/">Like Craft HD Adventures APK İndir</a></li>
    </ul>
</div>
<style>
    .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
    .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
</style>
